- content_for :nav do
  = link_to "New list", new_list_path, :class => "new-list"

#lists
  %h1 Gift Lists

  - if @personal.empty?
    %h4 Looks like you haven't created any lists yet!

    Let's
    = link_to "create your first list", new_list_path,
      style: 'display: inline;'
    so you can invite your family and friends to check it out.

  - else
    %h2
      Personal

    - @personal.each do |list|
      = link_to list.name_without_user_name, edit_list_path(list)

  - if @invited.any?
    %h2 Friends &amp; Family

    - @invited.each do |list|
      = link_to list.name, list_path(list)
