- title "Create and share lists with friends and family", true

%h1 Gift List

%p Create and share lists with friends and family

= link_to "Sign in and start gifting!", login_path,
  class: 'btn btn-large btn-success'
