Rails.application.config.middleware.use OmniAuth::Builder do
  opts = {:fields => [:email, :nickname, :name]}
  provider :developer, opts unless Rails.env.production?
  provider :twitter, "consumer_key", "consumer_secret"
  provider :facebook, "consumer_key", "consumer_secret"
  provider :identity, opts
end