#flash
  - flash.each do |flashtype, message|
    .alert{:class => "alert-#{flashtype} in fade"}
      %a{href: "#", class:"close", data: {dismiss:"alert"}} &times;
      = message

    - #:javascript
    - #  setTimeout("$('#flash').fadeOut()", 4000);
