$gl-red: #A53D39
$gl-green: #477A36

$blueprint-font-family: helvetica, arial, freesans, clean, sans-serif

$link-active-color: #A53127
$link-hover-color: #BC4341
$link-color: $gl-red
$link-visited-color: $link-color
