@import mixins
@import compass/reset
@import compass
@import blueprint

+blueprint-typography

html
  overflow-y: scroll

body
  background: #fff asset-url('cream_dust.png', image) repeat
  font-size: 100%
  
#content, header
  width: 800px
  margin: 1em auto

#content
  width: 760px
  padding: 20px
  padding-top: 40px
  background: #fff
  +border-radius(4px)
  +single-box-shadow(#888, 0, 0, 3px)
  position: relative
  img.bow
    position: absolute
    top: -36px
    left: -51px
    z-index: 5
  .banner
    height: 20px
    width: 800px
    background: $gl-red
    position: absolute
    top: 0px
    left: 0px
    +border-top-radius(4px)

h1
  font-size: 2.5em
