%h1 Welcome to Gift List!

%p
  If you already have an existing account
  please
  = link_to "click here", link_to_existing_user_account_path
  to add these new lists, otherwise just confirm the details below.

= render 'form'
